.app-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(195deg, #1BD9CC, #6466DB, #B166DB);
}

.controlboard {
  position: absolute;
  height: 355px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 200px;
}

.noteboard {
  margin: -50px auto 0px auto;
  width: 760px;
}

.noteboard-naturals {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
  margin-top: 10px;
}

.noteboard-flats {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
  margin-top: 10px;
}

.noteboard-sharps {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
}

.octaveboard {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 710px;
}
