.octave-container {
  height: 30px;
  width: 80px;
  background-color: rgba(0,0,0,0.15);
  text-align: center;
  border-radius: 50px;
}

.octave-container-pressed {
  height: 30px;
  width: 80px;
  background-color: rgba(0,0,0,0.30);
  text-align: center;
  border-radius: 50px;
}

.octave-displayName {
  color: rgba(255,255,255,0.7);
  font-size: 20px;
  margin-top: 2px;
}

.octave-displayName-pressed {
  color: rgba(255,255,255,1);
  font-size: 20px;
  margin-top: 2px;
}
